{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
    {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
    <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}

    {% url "teamhermes:home" as home_url %}
    {% url "teamhermes:proposal" as proposal_url %}
    {% url "teamhermes:mockup" as mockup_url %}
    {% url "teamhermes:router" as router_url %}
    {% url "teamhermes:saved_results" as saved_results %}

    <li class="title">App Navigation</li>
    <li class="{% if request.path == home_url %}active{% endif %}"><a href="{{ home_url }}">Home</a></li>
    <li class="{% if request.path == proposal_url %}active{% endif %}"><a href="{{ proposal_url }}">Proposal</a></li>
    <li class="{% if request.path == mockup_url %}active{% endif %}"><a href="{{ mockup_url }}">Mockups</a></li>
    <li class="{% if request.path == router_url %}active{% endif %}"><a href="{{ router_url }}">Router</a></li>
    <li class="{% if request.path == saved_results %}active{% endif %}"><a href="{{ saved_results }}">Saved Results</a>
    </li>

    {# Buttons for the Router Page #}
    {% if request.path == router_url %}
        <li class="title">Route Options</li>
        <div style="margin-left: 15px">
            <p>Pick Emergency Services</p>

            <div class="pretty p-default p-thick p-pulse">
                <input type="checkbox" name="medical" id="medical"/>
                <div class="state p-danger">
                    <i class="icon mdi mdi-check"></i>
                    <label>Medical</label>
                </div>
            </div>

            <div class="pretty p-default p-thick p-pulse">
                <input type="checkbox" name="fire" id="fire"/>
                <div class="state p-danger">
                    <i class="icon mdi mdi-check"></i>
                    <label>Fire</label>
                </div>
            </div>

            <div class="pretty p-default p-thick p-pulse">
                <input type="checkbox" name="police" id="police"/>
                <div class="state p-danger">
                    <i class="icon mdi mdi-check"></i>
                    <label>Police</label>
                </div>
            </div>
        </div>

        <br>

        <button id="process-request" type="button" class="btn btn-dark center-block">Analyze</button>
        <br>
        <div id="loader" class="loader center" style="display: none;"></div>
        <br>

        <div id="point-location" style="display: none;">
            <li class="title">Point Coordinates:</li>
            <div id="lat"></div>
            <div id="lon"></div>
        </div>

        <br>

        {# Save Results Button #}
        <button id="save-results" type="button" class="btn btn-light center-block" style="display: none">
            Save Results
        </button>

        <br>
        <br>

        {# Save results status text #}
        <div id="save-results-status"></div>

    {% endif %}

    {# Controls for the Saved Results Page #}
    {% if request.path == saved_results %}

        <br><br>
        <p style="margin-left: 20px">Choose an analysis</p>

        <div id="radio-options" style="margin-left: 20px">
            {% for date in date_list %}
                <div class="pretty p-default p-thick p-pulse">
                    <input type="radio" name="options" id="options" value="{{ date.1 }}"/>
                    <div class="state p-danger">
                        <i class="icon mdi mdi-check"></i>
                        <label>{{ date.0 }}</label>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>

    {% endif %}


{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}

{% endblock %}

{% block content_dependent_styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link href="{% static 'teamhermes/css/main.css' %}" rel="stylesheet"/>
    {# <link href="{% static 'teamhermes/css/checkboxstyles.css' %}" rel="stylesheet"/>#}

{% endblock %}

{% block scripts %}
    {{ block.super }}
    {# Allows csrf verification with AJAX #}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://js.arcgis.com/4.11/"></script>

    {# Conditional Script Sources#}
    {% url 'teamhermes:router' as router %}
    {% url "teamhermes:saved_results" as saved_results %}

    {% if request.path == router %}
        <script src="{% static 'teamhermes/js/router.js' %}" type="text/javascript"></script>
    {% endif %}

    {% if request.path == saved_results %}
        <script src="{% static 'teamhermes/js/saved_results.js' %}" type="text/javascript"></script>
    {% endif %}

{% endblock %}